@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "ChatHomepage";
}
@model dynamic
<div>
    <div class="container">
        <div class="row text-center">
            <p class="col-12">Current User Information: </p>
            <p id="chatUsername" class="col-12">@Model.Username</p>
            <p class="col-12">@Model.Age</p>
            <p class="col-12">@Model.City</p>
        </div>
        <div class="row">
            <p class="col-2">Your Message: </p>
            <input type="text" id="userChatInput" />
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button id="sendChatMessageButton">Send Message</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="chatMessagesList">
            </div>
        </div>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr/chat.js"></script>