
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "ChatLoginPage";
}
@model ChatLoginModel
<form asp-controller="Chat" asp-action="ChatHomepage" method="post">
    <input asp-for="@Model.Username" value="" placeholder="Username: "/>
    <input asp-for="@Model.Country" value="" placeholder="Country: " />
    <input asp-for="@Model.Age" value="" placeholder="Age: " />
    <button type="submit">Ready to meet with strangers</button>
</form>

